<a href="https://colab.research.google.com/github/mbururyan/Prep-Moringa-School-IPs/blob/main/WK2%20-%20IP%20(SQL)%20-%20Inner%20Joins%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loading SQL extensions onto the colab
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
#importing pandas
import pandas as pd

In [ ]:
#loading the Grandelectors table
with open('GrandElectors_by_state.csv', 'r') as f:
  Grandelectors = pd.read_csv(f, index_col=0, encoding = 'utf-8')

%sql DROP TABLE IF EXISTS Grandelectors;
%sql PERSIST Grandelectors;
%sql SELECT * FROM Grandelectors LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [ ]:
#loading the State populations table
with open('Population_by_state.csv', 'r') as f:
  Population = pd.read_csv(f, index_col=0, encoding = 'utf-8')

%sql DROP TABLE IF EXISTS Population;
%sql PERSIST Population;
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

In [ ]:
#converting states in the grand electors table to all uppercase
%%sql
UPDATE Grandelectors SET State = UPPER(State);

 * sqlite://
51 rows affected.

[]

In [ ]:
#print new Grandelectors table
%%sql
SELECT * FROM Grandelectors LIMIT 10

 * sqlite://
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55),
 ('COLORADO', 9),
 ('CONNECTICUT', 7),
 ('DC', 3),
 ('DELAWARE', 3),
 ('FLORIDA', 29)]

In [ ]:
#joining both tables
%%sql
SELECT Grandelectors.State, Population, GrandElectors FROM Grandelectors
INNER JOIN Population ON Grandelectors.State = Population.State ORDER BY GrandElectors DESC

 * sqlite://
Done.

[('CALIFORNIA', 39144818, 55),
 ('TEXAS', 27469114, 38),
 ('FLORIDA', 20271272, 29),
 ('NEW YORK', 19795791, 29),
 ('ILLINOIS', 12859995, 20),
 ('PENNSYLVANIA', 12802503, 20),
 ('OHIO', 11613423, 18),
 ('GEORGIA', 10214860, 16),
 ('MICHIGAN', 9922576, 16),
 ('NORTH CAROLINA', 10042802, 15),
 ('NEW JERSEY', 8958013, 14),
 ('VIRGINIA', 8382993, 13),
 ('WASHINGTON', 7170351, 12),
 ('ARIZONA', 6828065, 11),
 ('INDIANA', 6619680, 11),
 ('MASSACHUSETTS', 6794422, 11),
 ('TENNESSEE', 6600299, 11),
 ('MARYLAND', 6006401, 10),
 ('MINNESOTA', 5489594, 10),
 ('MISSOURI', 6083672, 10),
 ('WISCONSIN', 5771337, 10),
 ('ALABAMA', 4858979, 9),
 ('COLORADO', 5456574, 9),
 ('SOUTH CAROLINA', 4896146, 9),
 ('KENTUCKY', 4425092, 8),
 ('LOUISIANA', 4670724, 8),
 ('CONNECTICUT', 3590886, 7),
 ('OKLAHOMA', 3911338, 7),
 ('OREGON', 4028977, 7),
 ('ARKANSAS', 2978204, 6),
 ('IOWA', 3123899, 6),
 ('KANSAS', 2911641, 6),
 ('MISSISSIPPI', 2992333, 6),
 ('NEVADA', 2890845, 6),
 ('UTAH', 2995919, 6),
 ('NEBRASKA', 1896190, 5),
 ('NEW MEXICO', 2085109, 5),
 ('WEST VIRGINIA', 1844128, 5),
 ('HAWAII', 1431603, 4),
 ('IDAHO', 1654930, 4),
 ('MAINE', 1329328, 4),
 ('NEW HAMPSHIRE', 1330608, 4),
 ('RHODE ISLAND', 1056298, 4),
 ('ALASKA', 738432, 3),
 ('DC', 672228, 3),
 ('DELAWARE', 945934, 3),
 ('MONTANA', 1032949, 3),
 ('NORTH DAKOTA', 756927, 3),
 ('SOUTH DAKOTA', 858469, 3),
 ('VERMONT', 626042, 3),
 ('WYOMING', 586107, 3)]

In [ ]:
#changing District of columbia to DC in Grandelectors table
%%sql
UPDATE Grandelectors SET State = 'DC' WHERE State = 'DISTRICT OF COLUMBIA'

 * sqlite://
0 rows affected.

[]

In [ ]:
#Changing the same in Population table
%%sql
UPDATE Population SET State = 'DC' WHERE State = 'DISTRICT OF COLUMBIA'

 * sqlite://
1 rows affected.

[]

In [ ]:
#previewing new DC name
%%sql
SELECT State FROM Grandelectors LIMIT 10;

 * sqlite://
Done.

[('ALABAMA',),
 ('ALASKA',),
 ('ARIZONA',),
 ('ARKANSAS',),
 ('CALIFORNIA',),
 ('COLORADO',),
 ('CONNECTICUT',),
 ('DC',),
 ('DELAWARE',),
 ('FLORIDA',)]

In [ ]:
#previewing new DC name in Population table
%%sql
SELECT * FROM Population ORDER BY State ASC LIMIT 10;

 * sqlite://
Done.

[('ALABAMA', 4858979),
 ('ALASKA', 738432),
 ('AMERICAN SAMOA', 54343),
 ('ARIZONA', 6828065),
 ('ARKANSAS', 2978204),
 ('CALIFORNIA', 39144818),
 ('COLORADO', 5456574),
 ('CONNECTICUT', 3590886),
 ('DC', 672228),
 ('DELAWARE', 945934)]

In [ ]:
#ratio of population to Grandelectors
%%sql

SELECT *, Population.Population / Grandelectors.GrandElectors AS Ratio
FROM Population INNER JOIN Grandelectors ON Population.State = Grandelectors.State LIMIT 10

 * sqlite://
Done.

[('CALIFORNIA', 39144818, 'CALIFORNIA', 55, 711723),
 ('TEXAS', 27469114, 'TEXAS', 38, 722871),
 ('FLORIDA', 20271272, 'FLORIDA', 29, 699009),
 ('NEW YORK', 19795791, 'NEW YORK', 29, 682613),
 ('ILLINOIS', 12859995, 'ILLINOIS', 20, 642999),
 ('PENNSYLVANIA', 12802503, 'PENNSYLVANIA', 20, 640125),
 ('OHIO', 11613423, 'OHIO', 18, 645190),
 ('GEORGIA', 10214860, 'GEORGIA', 16, 638428),
 ('NORTH CAROLINA', 10042802, 'NORTH CAROLINA', 15, 669520),
 ('MICHIGAN', 9922576, 'MICHIGAN', 16, 620161)]

In [ ]:
#order states by decreasing ratio 
%%sql

SELECT Population.State, Population.Population / Grandelectors.GrandElectors AS Ratio
FROM Population INNER JOIN Grandelectors ON Population.State = Grandelectors.State 
ORDER BY Ratio DESC LIMIT 10

 * sqlite://
Done.

[('TEXAS', 722871),
 ('CALIFORNIA', 711723),
 ('FLORIDA', 699009),
 ('NEW YORK', 682613),
 ('NORTH CAROLINA', 669520),
 ('OHIO', 645190),
 ('VIRGINIA', 644845),
 ('ILLINOIS', 642999),
 ('PENNSYLVANIA', 640125),
 ('NEW JERSEY', 639858)]

The top priority states are:
1. Texas
2. Cali
3. Florida
4. New York
5. North Carolina
6. Ohio
7. Virginia
8. Illinois
9. Pennsylvania
10. New Jersey

In [ ]:

%%sql
SELECT * FROM Population LIMIT 10;

 * sqlite://
Done.

[('CALIFORNIA', 39144818, '539886'),
 ('TEXAS', 27469114, '539886'),
 ('FLORIDA', 20271272, '539886'),
 ('NEW YORK', 19795791, '539886'),
 ('ILLINOIS', 12859995, '539886'),
 ('PENNSYLVANIA', 12802503, '539886'),
 ('OHIO', 11613423, '539886'),
 ('GEORGIA', 10214860, '539886'),
 ('NORTH CAROLINA', 10042802, '539886'),
 ('MICHIGAN', 9922576, '539886')]

In [ ]:
#running total of grand electors

 * sqlite://
(sqlite3.OperationalError) ambiguous column name: State
[SQL: SELECT State, Grandelectors.GrandElectors, SUM(GrandElectors) AS runningtotal FROM GrandElectors INNER JOIN Population ON Grandelectors.State = Population.State ORDER BY State]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
#get half of total grand electors
%%sql
SELECT SUM(GrandElectors) / 2 FROM Grandelectors

 * sqlite://
Done.

[(269,)]

The total threashhold for winning is 269

In [ ]:
%%sql
SELECT * FROM Grandelectors ORDER BY GrandElectors DESC LIMIT 15

 * sqlite://
Done.

[('CALIFORNIA', 55, None),
 ('TEXAS', 38, None),
 ('FLORIDA', 29, None),
 ('NEW YORK', 29, None),
 ('ILLINOIS', 20, None),
 ('PENNSYLVANIA', 20, None),
 ('OHIO', 18, None),
 ('GEORGIA', 16, None),
 ('MICHIGAN', 16, None),
 ('NORTH CAROLINA', 15, None),
 ('NEW JERSEY', 14, None),
 ('VIRGINIA', 13, None),
 ('WASHINGTON', 12, None),
 ('ARIZONA', 11, None),
 ('INDIANA', 11, None)]

In [ ]:
%%sql
ALTER TABLE Grandelectors DROP COLUMN runningtotal;

 * sqlite://
(sqlite3.OperationalError) near "DROP": syntax error
[SQL: ALTER TABLE Grandelectors DROP COLUMN runningtotal;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
SELECT Grandelectors.State, (SELECT SUM(Grandelectors.GrandElectors) FROM Grandelectors AS runningtotal WHERE Grandelectors.State > Population.State) FROM Grandelectors

 * sqlite://
(sqlite3.OperationalError) no such column: Population.State
[SQL: SELECT Grandelectors.State, (SELECT SUM(Grandelectors.GrandElectors) FROM Grandelectors AS runningtotal WHERE Grandelectors.State > Population.State) FROM Grandelectors]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
SELECT State FROM Grandelectors

 * sqlite://
Done.

[('ALABAMA',),
 ('ALASKA',),
 ('ARIZONA',),
 ('ARKANSAS',),
 ('CALIFORNIA',),
 ('COLORADO',),
 ('CONNECTICUT',),
 ('DC',),
 ('DELAWARE',),
 ('FLORIDA',),
 ('GEORGIA',),
 ('HAWAII',),
 ('IDAHO',),
 ('ILLINOIS',),
 ('INDIANA',),
 ('IOWA',),
 ('KANSAS',),
 ('KENTUCKY',),
 ('LOUISIANA',),
 ('MAINE',),
 ('MARYLAND',),
 ('MASSACHUSETTS',),
 ('MICHIGAN',),
 ('MINNESOTA',),
 ('MISSISSIPPI',),
 ('MISSOURI',),
 ('MONTANA',),
 ('NEBRASKA',),
 ('NEVADA',),
 ('NEW HAMPSHIRE',),
 ('NEW JERSEY',),
 ('NEW MEXICO',),
 ('NEW YORK',),
 ('NORTH CAROLINA',),
 ('NORTH DAKOTA',),
 ('OHIO',),
 ('OKLAHOMA',),
 ('OREGON',),
 ('PENNSYLVANIA',),
 ('RHODE ISLAND',),
 ('SOUTH CAROLINA',),
 ('SOUTH DAKOTA',),
 ('TENNESSEE',),
 ('TEXAS',),
 ('UTAH',),
 ('VERMONT',),
 ('VIRGINIA',),
 ('WASHINGTON',),
 ('WEST VIRGINIA',),
 ('WISCONSIN',),
 ('WYOMING',)]